body,html {
  width: 100%;
  height: 100%;
}

.s1{
	background: url(../IMG/prebuilt.jpg) /*no-repeat center center fixed*/;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.s1 h1{
	font-family: 'Cairo', sans-serif;
	font-size: 3rem;
	color: #e2dbdb;
}

.s1 .buffer{
	height: 08rem;
}

/*.s1 hr{
	border-color: #F05F44;
	border-width: 3px;
	max-width: 65px;
}*/

.s1 .btn{
  color: black;
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.s1 .btn-primary{
  background-color: silver;
  border-color: silver;
}

.s1 .btn-primary:hover{
  background-color: black;
    border-color: white;
    border-width: 4px;
}

.s2 {
	background: url(../IMG/custompc.jpg) /*no-repeat center center fixed*/;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.s2 h1{
  font-family: 'Comic Neue', cursive;
  font-size: 3rem;
  color: #e2dbdb;
}

.s2 .buffer{
  height: 15rem;
}

/*.s1 hr{
  border-color: #F05F44;
  border-width: 3px;
  max-width: 65px;
}*/

.s2 .btn{
  color: black;
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.s2 .btn-primary{
  background-color: silver;
  border-color: silver;
}

.s2 .btn-primary:hover{
  background-color: black;
    border-color: white;
    border-width: 4px;
  }


.s3{
    background: url(../IMG/laptop.jpg) /*no-repeat center center fixed*/;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.s3 h1{
	font-family: 'Comic Neue', cursive;
	font-style: italic;
	font-size: 3rem;
	color: #e2dbdb;
}

.s3 .buffer{
	height: 20rem;
}

.s3 .btn{
  color: black;
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.s3 .btn-primary{
  background-color: silver;
  border-color: silver;
}

.s3 .btn-primary:hover{
  background-color: black;
    border-color: white;
    border-width: 4px;
}
/*.s3 .awsome {
      color:#313131;
      font-size:45px;
      font-weight: bold;
      -webkit-animation:colorchange 20s infinite alternate; 
    }*/

/*@-webkit-keyframes colorchange {
      0% {
        
        color: blue;
      }
      
      10% {
        
        color: #8e44ad;
      }
      
      20% {
        
        color: #1abc9c;
      }
      
      30% {
        
        color: #d35400;
      }
      
      40% {
        
        color: blue;
      }
      
      50% {
        
        color: #34495e;
      }
      
      60% {
        
        color: blue;
      }
      
      70% {
        
        color: #2980b9;
      }
      80% {
     
        color: #f1c40f;
      }
      
      90% {
     
        color: #2980b9;
      }
      
      100% {
        
        color: pink;
      }
    }*/



.s4{
	background: url(../IMG/desksetup.jpg)/* no-repeat center center fixed*/;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.s4 h1{
	font-family: 'Comic Neue', cursive;
	padding-top: 340px;
	font-size: 3rem;
	color: #e2dbdb;
}

.s4 .buffer{
	height: 1rem;
}

/*.s4 hr{
	border-color: darkgrey;
	border-width: 3px;
	max-width: 65px;
}*/

.s4 .btn{
	color: black;
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}

.s4 .btn-primary{
	background-color: silver;
	border-color: silver;
}

.s4 .btn-primary:hover{
	background-color: black;
    border-color: white;
    border-width: 4px;
}
/*
span{
	background-color: white !important;
}
.default-color{
  background-color: #2bbbad
}*/

.s5{
  background: url(../IMG/pcparts.jpg)/* no-repeat center center fixed*/;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.s5 h1{
  font-family: 'Comic Neue', cursive;
  padding-top: 340px;
  font-size: 3rem;
  color: #e2dbdb;
}

.s5 .buffer{
  height: 1rem;
}

/*.s5 hr{
  border-color: darkgrey;
  border-width: 3px;
  max-width: 65px;
}*/

.s5 .btn{
  color: black;
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.s5 .btn-primary{
  background-color: silver;
  border-color: silver;
}

.s5 .btn-primary:hover{
  background-color: black;
    border-color: white;
    border-width: 4px;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

#navbar {
  width:100%;
  height:50px;
  top:0 px;
  position:absolute;
  z-index:999;
  /*background-color: #000;
  opacity:0.8;*/
  padding-top: 0px;
}
#navbar a {
  font-family: Arial;
  font-size: 32px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
}
